{% extends 'mybase.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}ACCOUNTS | IIITM{% endblock %}


{% block bodyblock %}



<div class="row">
<div class="col-sm-1 col-lg-1"></div>
<div class="col-sm-4 col-lg-4">
<h2>Accounts</h2>
<br/>
 <ul style="list-style-type:square">
  <li><a href="http://www.iiitm.ac.in/fee/" target="_blank">Deposit Fee</a></li>
  <li><a href="">Check You Fee Status</a></li>
   <li><a href="">Deposit Fine</a></li>
  <li><a href="">Request For Reimbursement</a></li>
  <li><a href="">Reimbursement Status</a></li>
  <li><a href="">Request for Stipent/Scholarship</a></li>
  <li><a href="">Stipent/Scholarship Request Status</a></li>

</ul> 

</div>
<br/>
<br/>
<div class="col-sm-2 col-lg-2"></div>
<div class="col-sm-4 col-lg-4">
<h4>Downloads: </h4>
<ul style="list-style-type:square">
<li><a href="">Reimbursement Form</a></li>
<li><a href="">Request for Advance Form</a></li>
<li><a href="">Fee Receipt Form</a></li>
<li><a href="">Bonafide Form</a></li>

</ul>

</div>



{% endblock %}