{% extends 'mybase.html' %}


{% block title %}ACTIVITIES|IIITM{% endblock %}


{% block bodyblock %}


<div id="events">
    <div class="row" id="eventsHeading">
        <div class="col-12">
            <h1 style="color:#1bba9c; margin-top: 0px;"><strong>ACTIVITIES</strong></h1>
        </div><!-- end col-12 -->
    </div><!-- end featuresHeading -->

    <div class="row" id="eventsHeading">
        <div class="col-12">
            <h1 style="color:#1bba9c; margin-top: 0px;">Technical Events</h1>
        </div><!-- end col-12 -->
    </div>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block" id="Lecture" style="z-index:10;">
            <div class="cd-timeline-img cd-picture bounce-in">
                <img id="img1" src="vertical-timeline/img/LS1.svg">

            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <div class="inners">

                    <h2>Infotsav</h2>
                    <p>This institute organises events that acknowledges technological innovations and management procedures with accolades every year. ABV-IIITM in its continuous efforts to recognize excellence in areas of technology and management among its scholars organises ‘Infotsav’ every year. Participants are invited form leading technological and management institutes of this country, while premier industrial and business houses sponsor this event. Awards are in the form of prize money and recognition.<p>Infotsav is organized in October/ November.
                    </p></p>
                </div>


               






            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->


        <div class="cd-timeline-block" id="Industrial" style="z-index:9;">
            <div class="cd-timeline-img cd-picture bounce-in">
                <img id="img1" src="vertical-timeline/img/IC1.svg">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">

                <h2>HIQ - High Intelligence Quotient</h2>
                <p>HIQ is this institute's initiative to encourage innovative knowledge amongst its learners. We at ABV-IIITM believe that every dream could be achieved if it is purposeful and feasible. We celebrate creative thoughts and knowledge among students through interactive sessions, classroom lectures and quiz rounds. Initiated in 2001 this is one of the more successful endeavours of this institute.

 
                


            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
    </section>

<div class="row" id="eventsHeading">
        <div class="col-12">
            <h1 style="color:#1bba9c; margin-top: 0px;">Cultural Events</h1>
        </div><!-- end col-12 -->
    </div>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block" id="Literary" style="z-index:8;">
            <div class="cd-timeline-img cd-picture bounce-in">
                <img id="img1" src="vertical-timeline/img/mun.svg">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <div class="inners">
                    <h2>Aurora</h2>
                    <p>This is a cultural festival held over a period of three days in the month of February/ March. Aurora should not be looked upon just as a cultural event but an attempt to promote friendship, teamwork, and alliances. It is an opportunity to exhibit your talents to members of your community and visitors. Participants are invited from academic institutes across India and even abroad to join in this cultural extravaganza.
This three day event comprises: Parivesh (a fashion show showcasing ethnic Indian dresses); personality contest; Kavi Sammelan; Antakshari, singing competition, dance competitions and similar such events.</p>
                </div>
               


            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
 </section>     


 <div class="row" id="eventsHeading">
        <div class="col-12">
            <h1 style="color:#1bba9c; margin-top: 0px;">Sport Events</h1>
        </div><!-- end col-12 -->
    </div>   
   <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block" id="LT" style="z-index:9;">
            <div class="cd-timeline-img cd-picture bounce-in">
                <img id="img1" src="vertical-timeline/img/IC1.svg">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">

                <h2>Twaran</h2>
                <p>Twaran is an inter IIITM athletics meet also held around February/ March every year. Students from four IIITMs in Allahabad, Jabalpur, Kanchipuram, and Gwalior take part in this track and field competition with zeal and enthusiasm. In addition to sporting glories achieved, Twaran provides a platform for interacting with IIITMians across India.  </p>

               

            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block" id="Competitions" style="z-index:7;">
            <div class="cd-timeline-img cd-location bounce-in">
                <img id="img1" src="vertical-timeline/img/competitions.svg">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">

                <h2>Urja</h2>
                <p>
                    This is an intra-institute. Spread over three days during February/ March, learners are encouraged to participate in this event at least in the form of a spectator. Athletes are always inspired by the presence of a team of supporters. Urja not only tests one's physical abilities in track and field events but also offers an opportunity for creating a familial bond among different members of learners.</p>

              

            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
    </section>

    <div class="row" id="eventsHeading">
        <div class="col-12">
            <h1 style="color:#1bba9c; margin-top: 0px;">Literary Events</h1>
        </div><!-- end col-12 -->
    </div>   
   <section id="cd-timeline" class="cd-container">

        <div class="cd-timeline-block" id="Workshops" style="z-index:6;">
            <div class="cd-timeline-img cd-location bounce-in">
                <img id="img1" src="vertical-timeline/img/ws.svg">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <div class="inners">
                    <h2>Abhishar</h2>
                    <p>
                       This internal publication in English is issued annually. Articles on various topics ranging from technology, economics, management, environment, social issues, sports, and entertainment are published in this magazine.</p>
                </div>
               


            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block" id="Attractions" style="z-index:5;">
            <div class="cd-timeline-img cd-movie bounce-in">
                <img id="img1" src="vertical-timeline/img/attraction.svg">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">

                <h2>Arunaday</h2>
                <p>This publication is entirely in Hindi beginning from the editorial. Contributions are made by learners, faculty members, and even members of staff. Arunaday is also a yearly .publication and carries articles and anecdotes that are meaningful, informative, and entertaining.</p>

                
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block" id="Technothlon" style="z-index:4;">
            <div class="cd-timeline-img cd-movie bounce-in">
                <img id="img1" src="vertical-timeline/img/techno.svg">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <div class="inners">
                    <h2>Our Alma mater</h2>
                    <p>This magazine focuses on the alumni of ABV-IIITM. Our Alma Mater is an attempt of this institute to keep its alumni still associated with its happenings. It is also a platform where ex-students may share their experiences or thoughts with current generation of learners and teachers. This magazine in English is published yearly.</p>
                </div>
             
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block" id="Funniche" style="z-index:3;">
            <div class="cd-timeline-img cd-movie bounce-in">
                <img id="img1" src="vertical-timeline/img/fun.svg">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">

                <h2>Newsletters</h2>
                <p>Gunjan, the online newsletter of this institute is published regularly. It is a quarterly edition and targets one topic at a time. The response is encouraging and more so because of its online accessibility. Anyone associated with this institute may contribute to this online newsletter..</p>

                

            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

       
    </section>
</div>
<!-- cd-timeline -->


{% endblock %}