{% extends 'mybase.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}RESET|IIITM{% endblock %}

{% load i18n admin_static %}
{% block bodyblock %}

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<div class="row">
<div class="col-sm-1 col-lg-1"></div>
<div class="col-sm-4 col-lg-4">
<h1>Reset Your Password</h1>

<form action="" method="post">
{% csrf_token %}
{{form|crispy}}
<input class="btn btn-primary" type="submit" value="{% trans 'Reset my password' %}" /></p>
</form>


</div>
</div>

{% endblock %}
