{% extends 'mybase.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}CHANGE|IIITM{% endblock %}




{% load i18n admin_static %}

{{% block bodyblock %}

<div class="row">
<div class="col-sm-1 col-lg-1"></div>
<div class="col-sm-4 col-lg-4">
<h1>Change Your Password</h1>


<form action="" method="post">
{% csrf_token %}
{{ form|crispy }}

    <input class="btn btn-primary" type="submit" value="{% trans 'Change my password' %}" class="default" />


</form>

</div>
</div>

{% endblock %}
